/* *box{
    box-sizing:border-box;
}
.cards{
    border:3px solid red;
    height:400px;
    /* display:grid;
    gap:10px;
    grid-template-columns: 100px 100px;
    justify-content:space-around;
    align-items:center; */
    /* display:flex;
    flex-direction:row;
    flex-wrap:wrap-reverse;
    justify-content:space-around;
    align-items: center;
    gap:20px;
}
.box{
    border:3px solid blue;
    margin:10px;
}
#box1{
    order:1;
    /* flex-grow: 1; */
    /* flex-shrink: 9; */
/* } */
 body {
     background:red;
      font-family:Arial; 
    }
  .box {
     background:rgb(94, 202, 241);
      max-width:900px;
       margin:40px auto;
        padding:40px; 
    }
  h1 {
     text-align:center;
     }
  h1 span {
     color:blue;
      font-style:italic;
     }
     h3{
      text-align:center;
     }
  .cards {
     display:flex;
      gap:20px;
       flex-wrap:wrap; 
       justify-content:center;
     }
  .card {
     background:white;
      width:380px;
     }
  .card img { 
     width:100%;
      height:180px; 
      object-fit:cover;
     }
  .card .content {
     padding:15px; 
    }
  .card small {
     color:brown;
     }
  .card h3 { 
    color:purple;
     margin:5px 0;
 }
  .card p {
     color:black; 
     font-size:14px;
     }
  .footer {
    display:flex;
     justify-content:space-between;
      padding:10px 15px;
       border-top:1px solid ; 
}
  .footer a {
     color:purple;
      text-decoration:none; 
    }
 
 @media screen and (max-width: 760px) {
    body{
        background-color: black;
    }  
} 
@media screen and (max-width: 400px) {
    body{
        background-color: aquamarine;
    }
    
}